body {
  background-color: lightgray;
}

h1 {
  color: #fff;
  background-color: black;
  text-align: center;
  margin: 0;
}

.container {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
}

.articulo {
  width: 50%;
  text-align: justify;
  margin: 0 auto;
  padding: 50px;
  border-bottom: black 3px solid;
}

/* titulo articulo letras grandes y negras */
.tituloarticulo {
  font-size: 2rem;
  color: #000;
  margin: 0;
  text-align: center;
  border-bottom: white 5px solid;
}

/* fecha centrada con fondo gris y letras blancas */
.fecha {
  margin: auto;
  text-align: center;
  padding-top: 2%;
}

.fecha span {
  background-color: #4e4e4e;
  color: #fff;
  margin: 0;
  font-size: 1.6rem;
}

strong {
  font-variant: small-caps;
}

span.italic {
  border-bottom: red 1px dashed;
  font-family: serif;
  font-size: 150%;
  font-style: italic;
}

span.cargo {
  background-color: white;
  color: red;
}

span.lugar {
  color: blue;
}
