body {
  background-color: lightgray;
  margin: 0;
}

h1 {
  color: #fff;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.articulo {
  width: 50%;
  margin: auto;
  padding: 50px;
  border-bottom: 3px solid black;
}

.tituloarticulo {
  font-size: 2rem;
  color: #000;
  margin: 0;
  text-align: center;
  border-bottom: 5px solid white;
}

.fecha {
  text-align: center;
  padding: 10px 0 2%;
}

.fecha span {
  background-color: #4e4e4e;
  color: #fff;
  font-size: 1.6rem;
  /* padding da espacio a la fecha para que no se pegue el cuadrado */
  padding: 5px 15px;
}

strong {
  font-variant: small-caps;
}

.italic {
  border-bottom: 1px dashed red;
  font-family: serif;
  font-size: 150%;
  font-style: italic;
}

.cargo {
  background-color: white;
  color: red;
}

.lugar {
  color: blue;
}
