body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #f44336;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 0.9;
}

input[type="radio"] {
  margin-right: 10px;
}

.container2 {
  margin: 100px;
}

.container2 input:not([type="submit"]):valid {
  background: palegreen;
}

.container2 input:not([type="submit"]):invalid {
  background: salmon;
}
.container2 input[required] {
  border: 5px solid black;
}
