.container1 {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.container1 input[type="checkbox"] {
  display: none;
}

.container1 label {
  background: pink;
  cursor: pointer;
}

.container1 .contenidoOculto {
  display: none;
}

.container1 input[type="checkbox"]:checked ~ .contenidoOculto {
  display: block;
}
/* container 2 */

.container2 {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.container2 input[type="checkbox"] {
  display: none;
}

.container2 input[type="checkbox"] + label {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(https://pablomonteserin.com/res/html5/ex/checkbox-personalizado/check_radio_sheet.png);
  cursor: pointer;
}

.container2 input[type="checkbox"]:checked + label {
  background: url(https://pablomonteserin.com/res/html5/ex/checkbox-personalizado/check_radio_sheet.png) -19px;
}
