
.container2 {
  width: 900px;
  margin: auto;
  display: flex;
  padding: 0;
}

.container2 .logo {
  border-bottom: 1px solid gray;
}

/* clase principal */
.container2 .principal {
  width: 70%;
  padding: 20px;
  border-left: 1px solid gray;
  box-sizing: border-box;
}

.container2 .vertical {
  width: 30%;
}

/* clase paginas estará debajo del logo */
.container2 .paginas {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Ensure it occupies from top to bottom */
}
