.container {
  background: red;
  width: 500px;
  height: 500px;
  box-shadow: 10px 50px 100px green, inset 10px 50px 100px blue;
  border-radius: 0px 50px 100px 150px;
}

h1 {
  /*text-shadow: desplazamiento x, desplazamiento y, blur, color*/
  text-shadow: 20px 5px 5px red;
}
